Library/*
Logs/*
Temp/*
*.csproj
*.csproj.meta
*.pidb
*.sln
!Unity.DotSettings
obj/*
*.suo
*.patch
.DS_Store
*.orig
*.userprefs
builds
.vs/
/.idea/*
/Assets/Plugins/Editor/JetBrains*
/Build/*
/out/*
.gradle/
/Assets/StreamingAssets/*
/Assets/StreamingAssets.meta
/Assets/AddressableAssetsData/AnalyzeData/*
/Assets/AddressableAssetsData/AnalyzeData.meta
/Assets/AddressableAssetsData/Windows/*
/Assets/AddressableAssetsData/Windows.meta
/Assets/AddressableAssetsData/OSX/*
/Assets/AddressableAssetsData/OSX.meta
/Assets/Plugins/Zenject/OptionalExtras/SampleGame1 (Beginner)*
/Assets/Plugins/Zenject/OptionalExtras/SampleGame2 (Advanced)*
/Assets/Plugins/AssetBundlesBrowser/*
/Assets/Plugins/AssetBundlesBrowser.meta
*SerializedTransform*
/Assets/AltProg*
/Assets/R2D*
kappa-client.sln.DotSettings.user
/SolitareCruise.sln.DotSettings.user
/UserSettings/EditorUserSettings.asset
